/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* UTILITY */

/* FLEX */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* JUSTIFY */
.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* TEXT */
.text-center {
    text-align: center;
}

.align-center {
    align-items: center;

}

/* MARGIN-GAP */

.mt-30 {
    margin-top: 30px;
}

.g-5 {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.pl-5 {
    padding-left: 5px;
}

/* LAYOUT */
.container {
    width: 80%;
    margin: 0 auto;
    /* debug: */
    background-color: red;
}

.col-30 {
    width: 30%;
}

.member-container .team-card {
    flex-direction: row;
    height: 100px;
    width: 25%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    background-color: black;
}

.member-container .team-card:hover {
    transform: scale(1.1, 1.1);
}

.member-container:hover>.team-card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.member-image img {
    border-radius: 10px;
    height: 90px;
}